.mainheader { grid-area: header; }
.menu1 { grid-area: menu; }
.main { grid-area: main; }
.right { grid-area: right; }
.footer { grid-area: footer; }

body, html {
    height: 100%;
}


body{
    background-color: #eeeeee;


}
.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu main main main right right'
    'footer footer footer footer footer footer';
    grid-gap: 10px;

    padding: 10px;
}

.grid-container > div {
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

menu {
    margin: 0px;
    padding: 0px;
}
.mainMenu li {
    display: inline-grid;
    grid-gap: 10px;
}
.mainMenu menu a:link, a:visited {
    color: black;
    font-size: 1.2em;


    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
}
.mainMenu menu a:active, a:hover {

    color: darkcyan;


}


.mainMenu ul {
    margin: 20px;
}
.mainMenu li {
    margin-left: 1rem;
}

.heroImage {
    background-image: url("../imgs/heroimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    grid-area:main;
}
.overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}
.overlay h1 {
    position: relative;
    top: 150px;
    left: 50px;
    color: white;
    margin: 0;
}
